{% extends 'layout/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-widget" data-widget="table" data-url="{{ path('statistic.quotation', {status: 'accept,partial_invoiced'}) }}">
                <div class="panel-heading">Devis en cours</div>
            </div>
            <div class="panel panel-widget" data-widget="table" data-url="{{ path('statistic.quotation', {status: 'wait'}) }}">
                <div class="panel-heading">Devis en attente</div>
            </div>
            <div class="panel panel-widget" data-widget="table" data-url="{{ path('statistic.invoice', {status: 'wait,partial'}) }}">
                <div class="panel-heading">Factures en attente</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-widget" data-widget="text" data-url="{{ path('statistic.sales') }}">
                <div class="panel-heading">Chiffre d'affaire</div>
                <div class="panel-body"></div>
            </div>
            <div class="panel panel-widget">
                <div class="panel-heading">Cumul</div>
                <div class="panel-body">
                    <canvas id="recipeAnnualPerMonth"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-widget">
                <div class="panel-heading">Chiffre d'affaire mensuel</div>
                <div class="panel-body">
                    <canvas id="recipeByMonth"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.maintainAspectRatio = true;

    {#var ctx = document.getElementById("doughnut").getContext("2d");#}
    {#var Doughnut = new Chart(ctx).Pie({{ doughnut|json_encode|raw }});#}

    var ctx = document.getElementById("recipeByMonth").getContext("2d");
    var data = {
        labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
        datasets: [
            {
                label: "",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [{{ recipeByMonth.0|join(', ') }}]
            },
            {
                label: "",
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [{{ recipeByMonth.1|join(', ') }}]
            }
        ]
    };
    var graph1 = new Chart(ctx).Bar(data);

    var ctx = document.getElementById("recipeAnnualPerMonth").getContext("2d");
    var data = {
        labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
        datasets: [
            {
                label: "",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [{{ recipeAnnualPerMonth.0|join(', ') }}]
            },
            {
                label: "",
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [{{ recipeAnnualPerMonth.1|join(', ') }}]
            }
        ]
    };
    Chart.defaults.global.maintainAspectRatio = true;
    var graph1 = new Chart(ctx).Line(data);

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
